body{
  background-color: rgb(255, 250, 250);
}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepageHeading{
  font-family: 'Roboto', sans-serif;
  font-family: 'Spline Sans', sans-serif;
  color:rgb(238, 71, 137);
  font-size:4em;
  padding-bottom:0;
  margin-bottom:0;
}
.homepageHeading span{
  color:rgb(167, 198, 92)
}

.Navibar {
  font-family: 'Roboto', sans-serif;
  font-family: 'Spline Sans', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.3em;
}

.Navibar li {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.Navibar li:last-child {
  border-right: none;
}

.Navibar li a {
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.homepagetagline{
  padding-top:0;
  margin-top:0; 
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
}

.gettingStarted{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  
}
.gettingStarted a{
  text-decoration: none;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: rgb(51, 1, 63);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-3 {
  background: rgb(226, 255, 173);
background: linear-gradient(0deg, rgb(155, 179, 144) 0%, rgb(228, 253, 211) 100%);
  width: 15vw;
  height: 10vh;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgb(154, 180, 2);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}


.context {
  width: 100%;
  position: absolute;
  top:50vh;
  
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}



.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -3;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(194, 0, 168, 0.25);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.circles li:nth-child(11){
  left: 10%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
/*https://codepen.io/mohaiman/pen/MQqMyo*/


@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.sender{
  display: flex;
  align-items: center;
  justify-content: center;
  background:url('https://i.ibb.co/qCVFNyh/1159206.png');
}
.senderform{
display: flex;
flex-direction: column;
align-items: center;

height:80vh;
width:80vh;
background: url(https://i.ibb.co/3ysXSnF/4559562.jpg);

border: 10px solid #FFD700;
}
.formHeading{
  font-family: 'Mulish', sans-serif;
  color:white;
  font-size: 1.5em;
  
}

.senderform form{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  justify-content: space-around;
  }

.senderform form input{
  opacity:0.8;
  padding: 5px;
  border:none;
  margin: 5px;
  height:50%;
  flex-grow: 1;
  font-size: 1.5em;
  }

.senderform form input:focus{
    outline: none;
    border-bottom: 5px solid #FFD700;
}

.senderform form input::placeholder {
  font-size: 1em !important;
  font-family: 'Nunito', sans-serif;
  opacity: 1;
}

.submitbutton {
  background-color: rgb(204,197,158);
  width:fit-content;
  color:white;
  padding: 5px;
  margin:10px;
  font-family: 'Nunito', sans-serif;
  border-radius: 5px 0px 5px 0px;
  box-shadow: 2px 2px whitesmoke;
}

.submitbutton:hover{
  border-radius: 0px 5px 0px 5px;
  cursor: pointer;
}
.qr{
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.qr p{
  background-color: yellowgreen;
  color:whitesmoke;
  width:100%;
}

.packageQrCode{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 80vh;
  width: 80vw;
  border: 5px dotted black
}

.packageQrCode p{
  background-color: rgb(44, 44, 44);
  font-size: 1.3em;
}

.packdetails{
  display : grid;
  grid-template-columns: 1fr  1fr;
}
.packdetails p{
  background-color: white;
  font-size: 1em;
  color:black
}
.receivelink{
  font-size: large;
  display: block;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  
}
.receivelink a{
  text-decoration: none;
  color:black;
  font-family: 'Nunito', sans-serif;
}
.failedstatus{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.failedstatus img{
  width: 5em;
}

.failedstatus .failed{
  background-color: crimson;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  padding:10px;
  font-size:3em;
  margin-bottom: 0;
}

.failedstatus .failedinfo{
  display: block;
  width: 100%;
  margin-top: 0;
  padding: 5px;
  color:white;
  font-size: 1.3em;
  background-color: rgb(20, 113, 220);
  
}

.successstatus{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.successstatus img{
  width: 5em;
}

.successstatus .success{
  background-color:rgb(85, 170, 0);
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  padding:10px;
  font-size:3em;
  margin-bottom: 0;
}

.successstatus .successinfo{
  display: block;
  width: 100%;
  margin-top: 0;
  padding: 5px;
  color:white;
  font-size: 1.3em;
  background-color: rgb(20, 113, 220);
  
}

.checkstatus{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(https://i.ibb.co/m8g701B/hand-painted-watercolor-background-with-sky-clouds-shape.jpg);
}
.checkstatus h1{
  color:rgb(158, 11, 70);
}
.checkstatus input{
  font-size: 1.5em;
  vertical-align: baseline;
  border-radius: 0;
  width :30vw;
  height: 10vh;
  border: none;
  border-bottom: solid 5px chartreuse;
}

.checkstatus input:focus{
  outline:none;

}